<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <META NAME="Author" CONTENT="Timothy LE ROCH">
    <META NAME="Keywords" CONTENT="psychothérapeute, cabinet de psychothérapie, l'hermitage, nelly le lu, psychologue, freud, jung">
    <META NAME="Description" CONTENT="Nelly le lu, psychotherapeut vous accueille dans son cabinet à l'hermitage">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nelly LE LU - Cabinet de psychothérapeute</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/images/favicon.ICO') }}"/>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/core/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/core/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/core/js/jquery.fullPage.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/core/js/bootstrap.min.js') }}"></script>

    {% block head %}
    {% endblock %}
</head>
<body id="fullpage">

    {% block body %}
    {% endblock %}
<footer>
    <script>
    </script>

    {% block footer %}
    {% endblock %}

</footer>
</body>
</html>
